<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Portfolio</title>
</head>

<body>
  <!--=============== Header ===============-->
  <header class="header" id="header">
    <nav class="nav container">
      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li>
            <a href="/" class="nav__link active-link">Hello</a>
          </li>

          <li>
            <a href="/work" class="nav__link">work</a>
          </li>

          <li>
            <a href="/futuro" class="nav__link">Future</a>
          </li>

        </ul>

        <div class="nav__close" id="nav-close">
          <i class="ri-close-fill"></i>
        </div>
      </div>

      <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-fill"></i>
      </div>
    </nav>
  </header>


</body>

</html>